.appbarName {
  font-family: "Dancing Script", cursive;
  padding: 0 10px;
}
.appbarItems {
  display: flex;
  flex-direction: row;
}
.appbarWrapper {
  display: flex;
  justify-content: center;
}
.appbarMaxWidth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  max-width: 1000px;
}
@media (max-width: 600px) {
  .appbarMaxWidth {
    display: flex;
    flex-direction: row;
  }
  .appbarWrapper {
    display: flex;
    text-align: center;
  }
  .appbarName {
    position: absolute;
  }
  .appbarItems {
    visibility: hidden;
  }
}
